# Ignore contents of DZI folders, but not the folder itself
/assets/IMC/DZI/*
!/assets/IMC/DZI/README
/assets/histology/DZI/*
!/assets/histology/DZI/README

/bundle.js
/bundle.js.LICENSE.txt
/bundle.js.map
/googleae*.html
/history/V*
/sftp_pubkey/key*.txt

# User-generated JSON files (for Washington University Genome Browser)
/wugb_json/*.json
