/*
 * Color scheme
 * Background color: #F4F4F4
 * Primary purple: #7E4C71
 * Lighter purple: #EBDEE4
*/

/* Load icon font */
@font-face {
  font-family: Icons;
  src: url(../node_modules/semantic-ui-css/themes/default/assets/fonts/icons.eot);
}

body {
  background-color: #F4F4F4;
}

/* Previously used headers */
/*.hpap header {
  padding: 14px 20px;
}

.hpap header {
  background-image: url(/assets/brand/HPAP-background.jpg);
  background-position: center;
  height: 10em;
}*/

/* Background image */
.hpap .background {
  background: url(/assets/brand/HPAP-background.jpg) repeat-x top center;
  position: absolute;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  z-index: -1; 
}

/* Navigation menu */
.hpap .ui.menu.navbar,
.hpap .ui.menu.navbar .menu {
  background-color: #7E4C71;
}

.hpap .ui.menu.navbar .item {
  font-weight: bold;
}

.hpap .ui.menu.navbar .menu .item {
  color: #FFF!important;
}

/* Main content */
.hpap .main {
  padding: 5.85em 0;
}

.hpap .ui.header {
  color: #7E4C71;
}

.hpap a {
  color: #7E4C71;
  text-decoration: underline;
  cursor: pointer;
}

.hpap a:hover {
  text-decoration: none;
}

.hpap p {
  font-size: 1.1em;
}

.hpap .ui.top.attached.menu {
  background-color: #EBDEE4;
  border: 1px solid rgba(0,0,0,.15);
}

.hpap .ui.top.attached.menu .item.active {
  font-weight: bold;
  background: rgba(0,0,0,.07);
}

.hpap .ui.segment {
  background-color: rgba(255,255,255,.87);
  border: 1px solid rgba(0,0,0,.20);
}

.hpap .ui.button.hpap-color {
  background-color: #7E4C71;
  color: #FFF;
}

.hpap p.input-help {
  margin-top: -0.5em;
  font-size: 0.95em;
  font-style: italic;
}

.hpap .pre-html-import {
  margin-bottom: 1em; 
}

.hpap .html-import {
  clear: both;
}

.ui.fullscreen.modal {
  height: 95%;
}

.ui.fullscreen.modal .content {
  height: 90%;
}

.ui.fullscreen.modal .content > div {
  height: 95%;
}

.ui.fullscreen.modal .content > div .pane {
  height: 100%;
  overflow-y: auto;
}

.pull-right {
  float: right;
}

/* Filters */
.hpap .filter .ui.header {
  display: inline-block;
  margin-bottom: 0;
}

.hpap .filter .ui.checkbox {
  display: block;
  margin-top: 0.65em;
}

.hpap .filter .table .ui.checkbox {
  margin-top: 0;
}

.hpap .range-wrapper {
  padding: 0em 0.5em 1.2em 0.5em;
  margin-top: 0.65em;
}

.hpap .rc-slider-track {
  background-color: #ceadbd;
}

.hpap .rc-slider-handle {
  border-color: #bf95a9;
}

.hpap .rc-slider-handle:hover {
  border-color: #a9708b;
}

.hpap .rc-slider-handle:active,
.hpap .rc-slider-handle:focus {
  border-color: #a9708b;
  box-shadow: 0 0 5px #a9708b;
}

.hpap .rc-slider-dot-active {
  border-color: #bf95a9;
}

/* File directory */
.hpap .ui.checkbox.active input:checked~.box:before, 
.hpap .ui.checkbox.active input:checked~label:before {
  background: #FFFACD;
}

.hpap .ui.checkbox.inactive input~.box:before, 
.hpap .ui.checkbox.inactive input~label:before {
  background: #F2F2F2;
}

.hpap .ui.checkbox.inactive input~.box:after, 
.hpap .ui.checkbox.inactive input~label:after {
  color: rgba(0,0,0,.45);
  content: '\e800';
  opacity: 1;
}


.hpap .directory .ui.list .item {
  padding: 0.25em 0.5em;
  border-radius: .21428571rem;
}

.hpap .directory .ui.list .item:hover {
  background-color: #C8EFF5;
}

.hpap .directory .ui.list .item .checkbox {
  vertical-align: middle;
  margin-right: 0.5em;
  top: -1.6px;
}

.hpap .directory .ui.list .list {
  padding: 0 0 0 1.15em;
}

.hpap .directory .ui.accordion .title {
  padding: 0;
}

.hpap .directory .ui.accordion:not(.styled) .title~.content:not(.ui) {
  padding: 0 0 0 .5em;
}

.hpap .directory .ui.accordion .accordion .title .dropdown.icon, 
.hpap .directory .ui.accordion .title .dropdown.icon {
  display: none;
}

.hpap .directory .ui.accordion .accordion .title .dir-name, 
.hpap .directory .ui.accordion .title .dir-name {
  vertical-align: middle;
}

.hpap .directory .ui.accordion .accordion .title .dir-name:before, 
.hpap .ui.accordion .title .dir-name:before {
  font-family: Icons;
  font-size: 1.2em;
  color: #767676;
  padding-right: 0.35em;
  content: '\f07b';
}

.hpap .directory .ui.accordion .accordion .active.title .dir-name:before, 
.hpap .directory .ui.accordion .active.title .dir-name:before {
  content: '\f07c';
}

.hpap .directory .ui.accordion .accordion {
  margin-top: 0;
}