/*
 * Explore app color scheme
 * Background color: #F4F4F4
 * Primary purple: #7E4C71
 * Lighter purple: #EBDEE4
*/

/* Load icon font */
@font-face {
  font-family: Icons;
  src: url(../node_modules/semantic-ui-css/themes/default/assets/fonts/icons.eot);
}

body {
  background-color: #F4F4F4;
}

/* Main App */
.main-app .ui.menu.main-navbar {
  background-color: #41B3A3;
  border-bottom: 1px solid rgba(53, 77, 73, .25);
  z-index: 5;
}

.main-app .ui.menu.main-navbar .item {
  padding: 1.35em 1.14285714em;
  font-size: 1.10em;
  font-weight: bold;
}

.main-app .content-wrapper {
  padding-top: 8em;
  padding-bottom: 5em;
}

.main-app .content-wrapper .ui.items>.item .extra {
  font-weight: bold;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.65);
  left: -9%;
  top: -90%;
}

.main-app .content-wrapper .ui.header {
  color: #354D49;
}

.main-app .content-wrapper p {
  color: #354D49;
  font-size: 1.1em;
  font-weight: bold;;
}

.main-app .content-wrapper a {
  color: #41B3A3;
  text-decoration: none;
}

.main-app .content-wrapper a:hover {
  text-decoration: underline;
}

.main-app .content-wrapper .ui.button.main-color {
  color: #FFF;
  background-color: #41B3A3;
  text-decoration: none;
}

.main-app .content-wrapper .html-import {
  color: #354D49;
}

.main-app .content-wrapper .ui.items > .item > .content > .header,
.main-app .content-wrapper .ui.items > .item > .content > .description {
  color: #354D49;
}

.main-app .content-wrapper .ui.items > .item > .image.link {
  cursor: pointer;
}

.main-app .content-wrapper .ui.items > .item > .image.link:hover img {
  border: 2px solid #354D49;
}

/* Landing Page */
.main-app .landing-page {
  margin-top: 4.5em;
}

.main-app .landing-page .masthead {
  padding-top: 4em;
  padding-bottom: 3em;
  background-color: #FFF;
  border-bottom: 1px solid #41B3A3;
}

.main-app .landing-page .masthead .right-splash-div {
  position: relative;
  min-height: 9em;
}

.main-app .landing-page .masthead .right-container {
  top:-3.5em;
}

.main-app .landing-page .masthead .right-image {
  top: 2em;
}

.main-app .landing-page .masthead .top-title {
  text-align: center;
}

@media only screen and (min-width: 1201px) {
  .main-app .landing-page .masthead .bottom-title {
    top: 1em;
    position: absolute;
    font-size: 6em;
  }
}

@media only screen and (max-width: 1200px) {
  .main-app .landing-page .masthead .bottom-title {
    top: 1.5em;
    position: absolute;
    font-size: 4em;
  }
}


.main-app .landing-page .masthead .description-title {
  font-size: 1.5em;
}

.main-app .landing-page .masthead .paper-icon {
  float: left;
}

.main-app .landing-page .masthead h1 {
  margin-bottom: 0.5em !important;
  color: #354D49;
  font-size: 2.5em;
}

.main-app .landing-page .masthead p {
  color: #354D49;
  font-size: 1.35rem;
}

.main-app .landing-page .masthead .nav-dots {
  padding-top: 1em;
}

.main-app .landing-page .masthead .nav-dots .icon {
  padding: 0 .5em;
  font-size: 1.1em;
}

.main-app .landing-page .masthead .nav-dots .icon.active {
  color: #41B3A3 !important;
}

.main-app .landing-page .research {
  padding: 4em 0;
  background-color: #F9FBFA;
  border-bottom: 1px solid #41B3A3;
}

.main-app .landing-page .research h1 {
  margin-bottom: 1em;
  color: #354D49;
  font-size: 3em;
}

.main-app .landing-page .research p.intro {
  font-size: 1.35rem;
  color: #354D49;
}

.main-app .landing-page .research .ui.menu {
  background-color: #41B3A3;
}

.main-app .landing-page .research .ui.menu .item {
  font-weight: bold;
  font-size: 1.05rem;
}

.main-app .landing-page .research .ui.menu .active.item {
  background-color: white;
  color: #41B3A3 !important;
  border: 1px solid #41B3A3;
}

.main-app .landing-page .research .ui.menu > .active.item:last-child {
  border-radius: 0 .28571429rem .28571429rem 0;
}

.main-app .landing-page .research .ui.grid .column.clickable {
  cursor: pointer;
}

.main-app .landing-page .research .ui.grid .column.clickable .icon {
  padding-top: 100%;
}

.main-app .landing-page .research .ui.grid .column.clickable:hover .icon,
.main-app .landing-page .research .ui.grid .column.clickable .icon:hover {
  font-size: 5rem;
}

.main-app .landing-page .research .icon.double.angle {
  color: #41B3A3;
  font-size: 4.5rem;
}

.main-app .landing-page .research .slide .ui.header {
  color: #354D49;
}

.main-app .landing-page .research .slide h3 {
  margin-bottom: 0;
}

.main-app .landing-page .research .slide p {
  color: #354D49;
  font-size: 1.1em;
}

.main-app .landing-page .research .slide .column.buffered {
  padding-bottom: 2rem;
}

.main-app .landing-page .recentPubs h1 {
  margin-bottom: 1em;
  color: #354D49;
  font-size: 3em;
}

.main-app .landing-page .recentPubs {
  padding: 4em;
  border-bottom: 1px solid #41B3A3;
  background-color: #FFF;
}

.main-app .landing-page .recentPubs .ui.items>.item .extra {
  left: -125px;
  top: -80%;
  color: black;
}

.main-app .landing-page .recentPubs-content {
  margin: auto;
  width: 65%;
}

.main-app .landing-page .recentPubs a:hover {
  text-decoration: underline;
}

.main-app .landing-page .recentPubs a {
  text-decoration: none;
}

.main-app .landing-page .donors {
  padding: 4em 0;
  background-color: #F9FBFA;
  border-bottom: 1px solid #41B3A3;
}

.main-app .landing-page .donors h1 {
  margin-bottom: 1em;
  color: #354D49;
  font-size: 3em;
}

.main-app .landing-page .donors .ui.header {
  color: #354D49;
}

.main-app .landing-page .team {
  padding: 4em 0;
  background-color: #FFF;
  border-bottom: 1px solid #41B3A3;
}

.main-app .landing-page .team h1 {
  margin-bottom: 1em;
  color: #354D49;
  font-size: 3em;
}

.main-app .landing-page .team .ui.header.sub {
  font-size: 1.05em;
  text-transform: none;
}

.main-app .landing-page .team .affiliation {
  text-align: center;
  font-style: italic;
}

.main-app .landing-page .team .ui.grid .column.clickable {
  cursor: pointer;
}

.main-app .landing-page .team .ui.grid .column.clickable .icon {
  padding-top: 70%;
}

.main-app .landing-page .team .ui.grid .column.clickable:hover .icon,
.main-app .landing-page .team .ui.grid .column.clickable .icon:hover {
  font-size: 4.5rem;
}

.main-app .landing-page .team .icon.double.angle {
  color: #41B3A3;
  font-size: 4rem;
}

.main-app .landing-page .team .ui.divider {
  margin: 2rem 0;
}

.main-app .landing-page .team .ui.images {
  text-align: center;
}

.main-app .landing-page .team .ui.images .image {
  margin: 0 30px;
}

.main-app .landing-page .footer {
  padding: 2em 0;
  background-color: #E8E8E8;
}

/* Explore App */
.explore-app .background {
  background-image: url(/assets/brand/histology_background.jpg);
  position: fixed;
  opacity: 0.18;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.explore-app .ui.menu.explore-navbar {
  margin-top: 4.6em;
  z-index: 4;
}

.explore-app .ui.menu.explore-navbar,
.explore-app .ui.menu.explore-navbar .menu {
  background-color: #7E4C71;
}

.explore-app .ui.menu.explore-navbar .item {
  font-weight: bold;
}

.explore-app .ui.menu.explore-navbar .menu .item {
  color: #FFF !important;
}

.explore-app .ui.menu.explore-navbar .menu .item i.icon {
  margin: 0 0 0 .35714286em;
}

.explore-app div.admin-navbar-open {
  padding-bottom: 2.25em;
}

.explore-app .ui.menu.admin-navbar {
  margin-top: 7.4em;
  background-color: #EBDEE4;
  z-index: 3;
}

.explore-app .content-wrapper {
  padding-top: 10em;
  padding-bottom: 5em;
}

.explore-app .content-wrapper .ui.header {
  color: #7E4C71;
}

.explore-app .content-wrapper a {
  color: #7E4C71;
  text-decoration: underline;
  cursor: pointer;
}

.explore-app .content-wrapper a:hover {
  text-decoration: none;
}

.explore-app .content-wrapper p {
  color: #000;
  font-size: 1.1em;
}

.explore-app .content-wrapper .html-import {
  color: #000;
}

.explore-app .ui.segment {
  background-color: rgba(255,255,255,.87);
  border: 1px solid rgba(0,0,0,.20);
}

.explore-app .ui.top.attached.menu {
  background-color: #EBDEE4;
  border: 1px solid rgba(0,0,0,.15);
}

.explore-app .ui.top.attached.menu .menu {
  background-color: #EBDEE4;
  z-index: 2;
}

.explore-app .ui.top.attached.menu .item.active {
  font-weight: bold;
  background: rgba(0,0,0,.07);
}

.explore-app .ui.top.attached.menu .ui.pointing.dropdown>.menu {
  //top: -0.5px !important;
  left: 102%;
}

.explore-app .ui.top.attached.menu .ui.pointing.dropdown>.menu:after {
  background: #EBDEE4;
}

.explore-app .ui.top.attached.menu .ui.dropdown .menu>.item .dropdown.icon {
  font-size: 1em;
}

/* Firefox only fix */
@-moz-document url-prefix() {
  .explore-app .ui.top.attached.menu .ui.dropdown .menu>.item .dropdown.icon {
    margin-top: -15px;
  }
}

.explore-app .ui.button.hpap-color {
  color: #FFF;
  background-color: #7E4C71;
  text-decoration: none;
}
.explore-app .ui.button.hpap-color-cat-download {
  text-decoration: none;
  margin-right: 8px;
}

.explore-app .ui.button.hpap-color-donor-link {
  color: #FFF;
  background-color: #7E4C71;
  text-decoration: none;
}

.explore-app .donor-link-container {
  top: 14px;
  margin-right: 10px;
}

.explore-app .download-link-container {

}

.explore-app .ui.button.hpap-color-download-link {
  color: #FFF;
  background-color: #7E4C71;
  text-decoration: none;
}

.explore-app .view-choice-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Download data floating menu bar thing */
.explore-app .ui.segment .floating-menu-bar {
  position: sticky;
  top: 103px;
  z-index: 1;
  background-color: rgba(255,255,255,1);
}

/* Explore App - Donor Filters */
.explore-app .filter .ui.header {
  display: inline-block;
  margin-bottom: 0;
}

.explore-app .filter .ui.checkbox {
  display: block;
  margin-top: 0.65em;
}

.explore-app .filter .table .ui.checkbox {
  margin-top: 0;
}

.explore-app .range-wrapper {
  padding: 1.5em 1.0em 1.5em 0.7em;
}

.explore-app .rc-slider-track {
  background-color: #ceadbd;
}

.explore-app .rc-slider-handle {
  border-color: #bf95a9;
}

.explore-app .rc-slider-handle:hover {
  border-color: #a9708b;
}

.explore-app .rc-slider-handle:active,
.explore-app .rc-slider-handle:focus {
  border-color: #a9708b;
  box-shadow: 0 0 5px #a9708b;
}

.explore-app .rc-slider-dot-active {
  border-color: #bf95a9;
}

/* Explore App - File Directory */
.explore-app .ui.checkbox.active input:checked~.box:before,
.explore-app .ui.checkbox.active input:checked~label:before {
  background: #FFFACD;
}

.explore-app .ui.checkbox.inactive input~.box:before,
.explore-app .ui.checkbox.inactive input~label:before {
  background: #F2F2F2;
}

.explore-app .ui.checkbox.inactive input~.box:after,
.explore-app .ui.checkbox.inactive input~label:after {
  color: rgba(0,0,0,.45);
  content: '\e800';
  opacity: 1;
}

.explore-app .directory.focus {
  border-radius: .28571429rem;
  -o-animation: fadeIt 4s ease-in-out;
  animation: fadeIt 4s ease-in-out;
}

@-o-keyframes fadeIt {
  0%   { background-color: rgba(33,186,69,0.3); }
  100% { background-color: rgba(255,255,255,.87); }
}
@keyframes fadeIt {
  0%   { background-color: rgba(33,186,69,0.3); }
  100% { background-color: rgba(255,255,255,.87); }
}

.explore-app .directory .ui.list .item {
  padding: 0.25em 0.5em;
  border-radius: .21428571rem;
}

.explore-app .directory .ui.list .item:hover {
  background-color: #EBDEE4;
}

.explore-app .directory .ui.list .item .checkbox {
  vertical-align: middle;
  margin-right: 0.5em;
  top: -1.6px;
}

.explore-app .directory .ui.list .list {
  padding: 0 0 0 1.15em;
}

.explore-app .directory .ui.accordion .title {
  padding: 0;
}

.explore-app .directory .ui.accordion:not(.styled) .title~.content:not(.ui) {
  padding: 0 0 0 .5em;
}

.explore-app .directory .ui.accordion .accordion .title .dropdown.icon,
.explore-app .directory .ui.accordion .title .dropdown.icon {
  display: none;
}

.explore-app .directory .ui.accordion .accordion .title .dir-name,
.explore-app .directory .ui.accordion .title .dir-name {
  vertical-align: middle;
}

.explore-app .directory .ui.accordion .accordion .title .dir-name:before,
.explore-app .ui.accordion .title .dir-name:before {
  font-family: Icons;
  font-size: 1.2em;
  color: #767676;
  padding-right: 0.35em;
  content: '\f07b';
}

.explore-app .directory .ui.accordion .accordion .active.title .dir-name:before,
.explore-app .directory .ui.accordion .active.title .dir-name:before {
  content: '\f07c';
}

.explore-app .directory .ui.accordion .accordion {
  margin-top: 0;
}

/* Modal */
.ui.fullscreen.modal {
  height: 95%;
}

.ui.fullscreen.modal .header .header-labels {
  margin-left: 0.5em;
  margin-top: -0.1em;
  position: absolute;
  display: inline;
}

.ui.fullscreen.modal .header .header-labels .ui.label {
  color: black;
}

.ui.fullscreen.modal .content {
  height: 90%;
}

.ui.fullscreen.modal .content > div {
  height: 95%;
}

.ui.fullscreen.modal .content > div .pane {
  height: 100%;
  overflow-y: auto;
}

.ui.modal .ui.button i.chevron.right {
  margin: 0 .42857143em 0 -.21428571em !important;
}

/* IMC Viewer */
.imc-viewer {
  height: 100%;
}

.imc-viewer .ui.grid {
  height: 95%;
}

.imc-viewer #imc-osd {
  height: 100%;
  max-height: 700px;
  padding: 0;
}

.openseadragon-container {
  background-color: rgba(0,0,0,.03) !important;
}

.imc-viewer .ui.selection.dropdown {
  padding: 0.5em;
}

.imc-viewer .action-btns {
  position: absolute;
  right: 1.5em;
  top: 22em;
}

.imc-viewer .action-btns .ui.button {
  margin: 0.5em;
}

.imc-viewer .ui.image.color-key {
  margin-right: 0;
  margin-top: 1em;
}

/* Pagination */
.pagination-wrapper {
  height: 2.2em;
}

.result-count,
.pagination-wrapper .result-count {
  margin-top: 0.7em;
  display: inline-block;
}

/* General Misc. */
.pre-html-import {
  margin-bottom: 1em !important;
}

.html-import {
  clear: both;
}

p.caption {
  margin-bottom: 0;
  font-size: 1.1em !important;
  font-style: italic;
}

p.citation {
  font-size: 1.0em !important;
  font-style: italic;
}

p.input-help {
  margin-top: -0.5em !important;
  font-size: 0.95em !important;
  font-style: italic;
}

.pull-right {
  float: right;
}

/* Data Entry Forms */
.explore-app .donor-summary-form .ui.top.menu {
  background-color: #ffffff;
}

.explore-app .donor-summary-form .ui.top.menu .item {
  padding-top: 0;
  padding-bottom: 0;
}

.explore-app .donor-summary-form .ui.top.menu .item.header {
  width: 24.25%;
  padding-right: 0;
  border-right: 1px solid #d4d4d5;
}

.explore-app .donor-summary-form .ui.top.menu .item.dropdown-field {
  padding-left: 0;
  width: 75.75%;
}

.explore-app .donor-summary-form .ui.top.menu .dropdown {
  border: none;
}

.explore-app .donor-summary-form .ui.grid .four.wide.column {
  padding-right: 0;
}

.explore-app .donor-summary-form .ui.grid .twelve.wide.column {
  padding-left: 0;
}

.explore-app .donor-summary-form .ui.vertical.menu {
  border-top: none;
  border-radius: 0 0 .0 .28571429rem;
  background-color: #fff;
  margin-left: -1px;
}

.explore-app .donor-summary-form .ui.vertical.menu .item {
  padding: 0.75em 1.14285714em;
  margin: 0;
}

.explore-app .donor-summary-form .ui.vertical.menu .item:first-child {
  margin-top: 0;
  padding-top: 1.1em;
}

.explore-app .donor-summary-form .ui.vertical.menu .item.active {
  background: rgba(0,0,0,.05);
}

.explore-app .donor-summary-form .ui.vertical.menu .item.disabled {
  color: #000;
}

.explore-app .donor-summary-form .ui.bottom.segment {
  border-top: none;
  border-left: none;
  border-radius: 0 0 .28571429rem 0;
}

.explore-app .donor-summary-form .ui.form .compact-field .ui.input input {
  width: 75px;
}

.explore-app .donor-summary-form .ui.form table td .grid .column:last-child {
  padding-left: 0;
}

.explore-app .category-summary{
  height: 450px;
  overflow-y: scroll;
}

.explore-app .category-card-checkbox{
  padding-right: 25px;
}

.explore-app .category-multi-check-category{
  font-style: italic;
  padding-left: 5px;
}

.explore-app .ui.attached.segment.filter{
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  background-color: #fcfafc;
}

.explore-app .category-card-file-stats{
  padding-left: 7px;
  display: inline-block;
}

.explore-app .category-filter-reset-button{
  position: absolute;
  right: 5px;
  text-decoration: none;
}

.explore-app .category-no-filter-text{
  font-size: 1em !important;
  margin-left: 20px;
}

.explore-app .file-size-stats-detail{
  margin-left: 0.5em;
}

.explore-app .file-size-stats-detail .inner-detail{
  margin-left: inherit;
}
