/*
 * Color scheme
 * Background color: #F4F4F4
 * Primary purple: #7E4C71
 * Lighter purple: #EBDEE4
*/

/* Load icon font */
@font-face {
  font-family: Icons;
  src: url(../node_modules/semantic-ui-css/themes/default/assets/fonts/icons.eot);
}

body {
  background-color: #F4F4F4;
}

/* Landing page */
.main .ui.fixed.menu.main-navbar {
  background-color: #41B3A3;
  border-bottom: 1px solid rgba(53, 77, 73, .25);
  z-index: 2;
}

.main .ui.fixed.menu.main-navbar .item {
  padding: 1.35em 1.14285714em;
  font-weight: bold;
  font-size: 1.10em;
}

.main .main-content {
  margin-top: 8em;
}

.main .content .ui.header {
  color: #354D49;
}

.main .content p {
  color: #354D49;
  font-size: 1.1em;
}

.landing .masthead {
  margin-top: 4.5em;
  padding: 6em 0;
  background-color: #F9FBFA;
  border-bottom: 1px solid #41B3A3;
}

.landing .masthead h1 {
  margin-bottom: 0.5em !important;
  color: #354D49;
  font-size: 2.5em;
}

.landing .masthead p {
  color: #354D49;
  font-size: 1.35rem;
}

.landing .team {
  padding: 2em 0;
  background-color: #FFF;
  border-bottom: 1px solid #41B3A3;
}

.landing .team h1 {
  margin-bottom: 1em;
  color: #354D49;
  font-size: 3em;
}

.landing .team .ui.header.sub {
  font-size: 1.05em;
  text-transform: none;
}

.landing .team .affiliation {
  text-align: center;
  font-style: italic;
}

.landing .team .ui.divider {
  margin: 2rem 0;
}

.landing .team .ui.images {
  text-align: center;
}

.landing .team .ui.images .image {
  margin: 0 30px;
}

.landing .data {
  padding: 4em 0;
  background-color: #F9FBFA;
  border-bottom: 1px solid #41B3A3;
}

.landing .data h1 {
  margin-bottom: 1em;
  color: #354D49;
  font-size: 3em;
}

.landing .data p.intro {
  font-size: 1.35rem;
  color: #354D49;
}

.landing .data .ui.menu {
  background-color: #41B3A3;
}

.landing .data .ui.menu .item {
  font-weight: bold;
  font-size: 1.05rem;
}

.landing .data .ui.menu .active.item {
  background-color: white;
  color: #41B3A3 !important;
  border: 1px solid #41B3A3;
  //border-radius: inherit;
}


.landing .data .ui.segment.slide {
  background-color: #F9FBFA;
}

.landing .data .slide .ui.header {
  color: #354D49;
}

.landing .data .slide p {
  color: #354D49;
  font-size: 1.1em;
}

.landing .data .slide h3 {
  margin-bottom: 0;
}

.landing .data .slide p.caption {
  margin-bottom: 0;
  font-size: 0.9em;
  font-style: italic;
}

.landing .data .slide .column.buffered {
  padding-bottom: 2rem;
}

.landing .donors {
  padding: 4em 0;
  background-color: #FFF;
  border-bottom: 1px solid #41B3A3;
}

.landing .donors .ui.header {
  color: #354D49;
}

.landing .donors h1 {
  margin-bottom: 1em;
  font-size: 3em;
}

.landing .footer {
  padding-top: 3em;
  padding-bottom: 2.5em;
  background-color: rgba(0, 0, 0, 0.05);
}

.landing .icon.double.angle {
  color: #41B3A3;
  font-size: 3rem;
}

.background {
  background: url(/assets/brand/HPAP-background.jpg) repeat-x center right;
  position: absolute;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  z-index: -1; 
}


.hpap p.citation {
  font-size: 1.0em;
  font-style: italic;
}

/* Background image */
.hpap .background {
  background: url(/assets/brand/HPAP-background.jpg) repeat-x top center;
  position: absolute;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  z-index: -1; 
}

/* Navigation menu */

.hpap .ui.menu.navbar {
  margin-top: 4.6em;
  z-index: 1;
}

.hpap .ui.menu.navbar,
.hpap .ui.menu.navbar .menu {
  background-color: #7E4C71;
}

.hpap .ui.menu.navbar .item {
  font-weight: bold;
}

.hpap .ui.menu.navbar .menu .item {
  color: #FFF!important;
}

.hpap .ui.menu.navbar .menu .item i.icon {
  margin: 0 0 0 .35714286em;
}

.hpap .ui.menu.admin-navbar {
  margin-top: 103px;
  margin-bottom: -7.5em;
  background-color: #EBDEE4;
}

/* Main content */
.hpap .main {
  //padding: 5.85em 0;
  padding: 10em 0;
}

.hpap .ui.header {
  color: #7E4C71;
}

.hpap a {
  color: #7E4C71;
  text-decoration: underline;
  cursor: pointer;
}

.hpap a:hover {
  text-decoration: none;
}

.hpap p {
  font-size: 1.1em;
}

.hpap .ui.top.attached.menu {
  background-color: #EBDEE4;
  border: 1px solid rgba(0,0,0,.15);
}

.hpap .ui.top.attached.menu .item.active {
  font-weight: bold;
  background: rgba(0,0,0,.07);
}

.hpap .ui.segment {
  background-color: rgba(255,255,255,.87);
  border: 1px solid rgba(0,0,0,.20);
}

.hpap .ui.button.hpap-color {
  background-color: #7E4C71;
  color: #FFF;
}

.hpap p.input-help {
  margin-top: -0.5em;
  font-size: 0.95em;
  font-style: italic;
}

.hpap .pre-html-import {
  margin-bottom: 1em; 
}

.hpap .html-import {
  clear: both;
}

.ui.fullscreen.modal {
  height: 95%;
}

.ui.fullscreen.modal .content {
  height: 90%;
}

.ui.fullscreen.modal .content > div {
  height: 95%;
}

.ui.fullscreen.modal .content > div .pane {
  height: 100%;
  overflow-y: auto;
}

.ui.modal .ui.button i.right {
  margin: 0 .42857143em 0 -.21428571em !important;
}

.pull-right {
  float: right;
}

.hpap .pagination-wrapper {
  height: 2.2em;
}

.hpap .result-count,
.hpap .pagination-wrapper .result-count {
  margin-top: 0.7em;
  display: inline-block;
}

.hpap .donor-summary-form .ui.top.menu {
  background-color: #ffffff;
}

.hpap .donor-summary-form .ui.top.menu .item {
  padding-top: 0;
  padding-bottom: 0;
}

.hpap .donor-summary-form .ui.top.menu .item.header {
  width: 24.25%;
  padding-right: 0;
  border-right: 1px solid #d4d4d5;
}

.hpap .donor-summary-form .ui.top.menu .item.dropdown-field {
  padding-left: 0;
  width: 75.75%;
}

.hpap .donor-summary-form .ui.top.menu .dropdown {
  border: none;
}

.hpap .donor-summary-form .ui.grid .four.wide.column {
  padding-right: 0;
}

.hpap .donor-summary-form .ui.grid .twelve.wide.column {
  padding-left: 0;
}

.hpap .donor-summary-form .ui.vertical.menu {
  border-top: none;
  border-radius: 0 0 .0 .28571429rem;
  background-color: #fff;
  margin-left: -1px;
}

.hpap .donor-summary-form .ui.vertical.menu .item {
  padding: 0.75em 1.14285714em;
  margin: 0;
}

.hpap .donor-summary-form .ui.vertical.menu .item:first-child {
  margin-top: 0;
  padding-top: 1.1em;
}

.hpap .donor-summary-form .ui.vertical.menu .item.active {
  background: rgba(0,0,0,.05);
}

.hpap .donor-summary-form .ui.vertical.menu .item.disabled {
  color: #000;
}

.hpap .donor-summary-form .ui.bottom.segment {
  border-top: none;
  border-left: none;
  border-radius: 0 0 .28571429rem 0;
}

.hpap .donor-summary-form .ui.form .compact-field .ui.input input {
  width: 75px;
}

.hpap .donor-summary-form .ui.form table td .grid .column:last-child {
  padding-left: 0;
}

/* Filters */
.hpap .filter .ui.header {
  display: inline-block;
  margin-bottom: 0;
}

.hpap .filter .ui.checkbox {
  display: block;
  margin-top: 0.65em;
}

.hpap .filter .table .ui.checkbox {
  margin-top: 0;
}

.hpap .range-wrapper {
  padding: 0em 0.5em 1.2em 0.5em;
  margin-top: 0.65em;
}

.hpap .rc-slider-track {
  background-color: #ceadbd;
}

.hpap .rc-slider-handle {
  border-color: #bf95a9;
}

.hpap .rc-slider-handle:hover {
  border-color: #a9708b;
}

.hpap .rc-slider-handle:active,
.hpap .rc-slider-handle:focus {
  border-color: #a9708b;
  box-shadow: 0 0 5px #a9708b;
}

.hpap .rc-slider-dot-active {
  border-color: #bf95a9;
}

/* File directory */
.hpap .ui.checkbox.active input:checked~.box:before, 
.hpap .ui.checkbox.active input:checked~label:before {
  background: #FFFACD;
}

.hpap .ui.checkbox.inactive input~.box:before, 
.hpap .ui.checkbox.inactive input~label:before {
  background: #F2F2F2;
}

.hpap .ui.checkbox.inactive input~.box:after, 
.hpap .ui.checkbox.inactive input~label:after {
  color: rgba(0,0,0,.45);
  content: '\e800';
  opacity: 1;
}


.hpap .directory .ui.list .item {
  padding: 0.25em 0.5em;
  border-radius: .21428571rem;
}

.hpap .directory .ui.list .item:hover {
  background-color: #EBDEE4;
}

.hpap .directory .ui.list .item .checkbox {
  vertical-align: middle;
  margin-right: 0.5em;
  top: -1.6px;
}

.hpap .directory .ui.list .list {
  padding: 0 0 0 1.15em;
}

.hpap .directory .ui.accordion .title {
  padding: 0;
}

.hpap .directory .ui.accordion:not(.styled) .title~.content:not(.ui) {
  padding: 0 0 0 .5em;
}

.hpap .directory .ui.accordion .accordion .title .dropdown.icon, 
.hpap .directory .ui.accordion .title .dropdown.icon {
  display: none;
}

.hpap .directory .ui.accordion .accordion .title .dir-name, 
.hpap .directory .ui.accordion .title .dir-name {
  vertical-align: middle;
}

.hpap .directory .ui.accordion .accordion .title .dir-name:before, 
.hpap .ui.accordion .title .dir-name:before {
  font-family: Icons;
  font-size: 1.2em;
  color: #767676;
  padding-right: 0.35em;
  content: '\f07b';
}

.hpap .directory .ui.accordion .accordion .active.title .dir-name:before, 
.hpap .directory .ui.accordion .active.title .dir-name:before {
  content: '\f07c';
}

.hpap .directory .ui.accordion .accordion {
  margin-top: 0;
}